<section class="login-block">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <form class="md-float-material form-material forgotPassForm" #forgotPassForm="ngForm" (ngSubmit)="forgotPassForm.valid && onSubmit()"
          name="forgotPassForm">
          <div class="text-center">
            <img src="assets/images/vclogo.png" alt="logo.png">
          </div>
          <div class="auth-box card">
            <div class="card-block">
              <div class="row m-b-20">
                <div class="col-md-12">
                  <h3 class="text-center">Forgot Password</h3>
                </div>
              </div>
              <div class="form-group form-primary">
                <input name="email" #email="ngModel" [(ngModel)]="data.email" required class="form-control" type="text" email />
                <span class="form-bar"></span>
                <label class="float-label">Your Email Address</label>
                <div class="errors" *ngIf="email.invalid">
                  <span *ngIf="forgotPassForm.submitted && email.errors.required">This field is required.</span>
                  <span *ngIf="forgotPassForm.submitted && email.errors.email && data.email !== ''">Email format is not valid.</span>
                </div>
                <p *ngIf="!store.getState().Auth.forgotPassword.isUser && !store.getState().Auth.forgotPassword.isSent" class="errors">Email
                  not found. Please try again or <a class="link-contact" href="https://help.marvelapp.com">contact support</a>.</p>
              </div>
              <div class="row m-t-25 text-left">
                <div class="col-12">
                  <div class="forgot-phone text-right f-right">
                    <a [routerLink]="['/auth/login']" class="text-right f-w-600"> Login?</a>
                  </div>
                </div>
              </div>
              <div class="row m-t-30">
                <div class="col-md-12">
                  <button type="submit" class="btn btn-primary btn-md btn-block waves-light text-center m-b-20 ripple">Reset
                    Password</button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
