  <div class="container">
    <h2>History worktimes</h2>
    <div class="row">
      <div class="col-md-12 col-lg-12">
        <div id="tracking-pre"></div>
        <div id="tracking">
          <div class="text-center tracking-status-intransit">
            <p class="tracking-status text-tight">History work times</p>
          </div>
          <div class="tracking-list">
            
            <ng-container *ngFor="let time of work_times">
              <div class="tracking-item">
                <div class="tracking-icon status-intransit">
                  <svg
                    class="svg-inline--fa fa-circle fa-w-16"
                    aria-hidden="true"
                    data-prefix="fas"
                    data-icon="circle"
                    role="img"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 512 512"
                    data-fa-i2svg=""
                  >
                    <path fill="currentColor" d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8z"></path>
                  </svg>
                  <!-- <i class="fas fa-circle"></i> -->
                </div>
                <div class="tracking-date">{{ time.data.date }}</div>
                <ng-container *ngFor="let item of time.data.work_times_on_day">
                  <div class="tracking-content">Checkin : {{ item.checkin | date: 'hh:mm a' }} -----> Checkout : {{ item.checkout | date: 'hh:mm a' }}</div>
                  <div class="images">
                    <ng-container *ngIf="showCase(item.urls) | hasItem">
                      <ng-container *ngFor="let images of showCase(item.urls)">
                        <img class="images-screen" src="{{ images }}" alt="" />
                      </ng-container>
                    </ng-container>
                  </div>
                </ng-container>
                <ng-container *ngIf="time.data.work_times_on_day | hasItem">
                  <div class="total-oke">
                     <tr class="total">
                        <td colspan="3">Thời gian làm việc:</td>
                        <td>{{ total(time.data.work_times_on_day) }}</td>
                      </tr>
                  </div>
                </ng-container>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
