<div class="user-component">
  <div class="row mgb-20">
    <div class="col s12">
      <ul class="breadcrumb-title">
        <li class="breadcrumb-item">
          <a routerLink="/"> <i class="fa fa-home"></i> </a>
        </li>
        <li class="breadcrumb-item"><a href="javascript:">User</a></li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col s12"><search-form></search-form></div>
  </div>

  <div class="row mgb-20">
    <div class="col s12 text-right">
      <a class="btn btn-primary btn-md" routerLink="create"> <i class="fa fa-plus" aria-hidden="true"></i> Create </a>
    </div>
  </div>

  <div class="row">
    <div class="col s12">
      <loader *ngIf="!payload.fetched"></loader>
      <div class="card">
        <table *ngIf="payload.fetched" class="table table-no-border-top">
          <thead>
            <tr>
              <th>
                ID
                <sort-by-field field="id"></sort-by-field>
              </th>
              <th>
                Email
                <sort-by-field field="name"></sort-by-field>
              </th>
              <th>
                First name
                <sort-by-field field="email"></sort-by-field>
              </th>
             <th>Last name</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody *ngIf="(payload.users | hasItem)">
            <tr *ngFor="let item of payload.users; let i = index">
              <td>{{ item.id }}</td>
              <td>{{ item.email }}</td>
              <td>{{ item.lastName }}</td>
              <td>{{ item.name }}</td>
              <td>
                <button routerLink="/admin/users/work-times/{{item.id}}" routerLinkActive="router-link-active"  class="btn btn-primary btn-sm icon-only" aria-placeholder="History worktimes"><i class="fa fa-history"></i></button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <!-- <div class="row">
    <div class="col s12 m6"><per-page></per-page></div>
    <div class="col s12"><length-aware-paginator *ngIf="payload.fetched" [(paginator)]="payload.pagination"></length-aware-paginator></div>
  </div> -->
</div>
