.export {
  color: #ffff;
  background: teal;
  margin-right: 10px;
}
.form-search{
    .search-date{
        .start {
            margin-right: 20px;
        }
    }
    .btn-custom{
        margin-top: 20px;
    }
}