<div class="user-component">
  <div class="row mgb-20">
    <div class="col s12">
      <ul class="breadcrumb-title">
        <li class="breadcrumb-item">
          <a routerLink="/"> <i class="fa fa-home"></i> </a>
        </li>
        <li class="breadcrumb-item"><a href="javascript:">User</a></li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col s12"><search-form></search-form></div>
  </div>

   <div class="form-search">
     <div class="search-date">
       <input type="date" [(ngModel)]="search.start" class="start">
       <input type="date" class="end" [(ngModel)]="search.end">
     </div>
     <button class="btn export btn-custom" (click)="exportExceldata(payload.users)">Export</button>
     <button class="btn export btn-custom" (click)="searchByDate()">Search by date</button>
   </div>
  <div class="row mgb-20">
    <!-- <div class="col s12 mgt-20 text-right">
      <input class="custom-input" type="date" [(ngModel)]="date_statistical">
      <button class="btn export" (click)="exportExceldata(payload.users)">Thống kê</button>
    </div> -->
  </div>

  <div class="row">
    <div class="col s12">
      <loader *ngIf="!payload.fetched"></loader>
      <div class="card">
        <table *ngIf="payload.fetched" class="table table-no-border-top">
          <thead>
            <tr>
              <th>
                ID
                <sort-by-field field="id"></sort-by-field>
              </th>
              <th>
                Email
                <sort-by-field field="name"></sort-by-field>
              </th>
              <th>
               Checkin
                <sort-by-field field="email"></sort-by-field>
              </th>
              <th>
                Checkout
                 <sort-by-field field="email"></sort-by-field>
               </th>
               <th>
                Time work to day
                 <sort-by-field field="email"></sort-by-field>
               </th>
               <th>
                Checkin status
                 <sort-by-field field="email"></sort-by-field>
               </th>
              <th>Date</th>
            </tr>
          </thead>
          <tbody *ngIf="payload.users | hasItem">
            <tr *ngFor="let item of payload.users; let i = index">
                <td>{{ item.id }}</td>
                <td>{{ item.email }}</td>
                <td>{{ item.checkin | date: 'HH:mm' }}</td>
                <td>{{ item.checkout | date: 'HH:mm' }}</td>
                <td>{{item.real_times}}</td>
                <td>{{item.status}}</td>
                <td>{{ item.checkin | date: 'dd/MM/yyyy' }}</td>
                <td>
                </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <!-- <div class="row">
    <div class="col s12 m6"><per-page></per-page></div>
    <div class="col s12"><length-aware-paginator *ngIf="payload.fetched" [(paginator)]="payload.pagination"></length-aware-paginator></div>
  </div> -->
</div>
