<div class="user-component">
  <div class="row mgb-20">
    <div class="col s12">
      <ul class="breadcrumb-title">
        <li class="breadcrumb-item">
          <a routerLink="/"> <i class="fa fa-home"></i> </a>
        </li>
        <li class="breadcrumb-item"><a href="javascript:">User</a></li>
      </ul>
    </div>
  </div>

   <!-- <div class="form-search">
     <div class="search-date">
       <input type="datetime-local" [(ngModel)]="start" class="start">
       <input type="datetime-local" class="end" [(ngModel)]="end">
     </div>
     <button class="btn export btn-custom" (click)="searchByDate()">Search by date</button>
   </div> -->
  <div class="row mgb-20">
    <div class="col s12 mgt-20 text-right">
      <button class="btn export" (click)="exportExceldata(payload.users)">Thống kê ngày hôm nay</button>
    </div>
  </div>

  <div class="row">
    <div class="col s12">
      <loader *ngIf="!payload.fetched"></loader>
      <div class="card">
        <table *ngIf="payload.fetched" class="table table-no-border-top">
          <thead>
            <tr>
              <th>
                ID
                <sort-by-field field="id"></sort-by-field>
              </th>
              <th>
                Email
                <sort-by-field field="name"></sort-by-field>
              </th>
              <th>
                Last checkin
                <sort-by-field field="email"></sort-by-field>
              </th>
              <th>Date</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody *ngIf="payload.users | hasItem">
            <tr *ngFor="let item of payload.users; let i = index">
              <ng-container *ngIf="item.work_times | hasItem">
                <td>{{ item.id }}</td>
                <td>{{ item.email }}</td>
                <td>{{ geneareteLastCheckin(item.work_times) | date: 'HH:mm' }}</td>
                <td>{{ geneareteLastCheckin(item.work_times) | date: 'dd/MM/yyyy' }}</td>
                <td>
                  <a routerLink="/admin/users/work-times/{{ item.id }}" class="btn btn-dark btn-sm icon-only"> <i class="fa fa-calendar" aria-hidden="true"></i> </a>
                  <button class="btn btn-danger btn-sm icon-only"><i class="fa fa-trash"></i></button>
                </td>
              </ng-container>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <!-- <div class="row">
    <div class="col s12 m6"><per-page></per-page></div>
    <div class="col s12"><length-aware-paginator *ngIf="payload.fetched" [(paginator)]="payload.pagination"></length-aware-paginator></div>
  </div> -->
</div>
