// color variables
$greyColor: #2B3F53;
$greyDarkColor: #172D44;
$greyLight: #354d66;
$red: #e74c3c;

// color's emelemts
$bgColor: #2A3F54;

$parsleyColor: #B94A48;
$parsleyBackgroundColor: #F2DEDE;
$parsleyBorderColor: #E85445;

$approvedColor: #27ae60;
$rejectedColor: #e74c3c;

$grey: #ecf0f1;
$greyBackground: #e4e3e3;
