<div class="change-password-wrapper">
  <div class="container">
    <div class="row">
      <div class="card info-box">
        <div class="card-header no-box-shadow">
          <h5 class="card-header-text">Change Password</h5>
        </div>
        <div class="card-body">
          <div class="edit-info">
            <div class="col-12 ">
              <form #changePassForm="ngForm" (ngSubmit)="changePassForm.valid && onSubmit()" name="changePassForm">
                <div class="form-group">
                  <label for="">Old Password</label>
                  <input required name="old_password" #old_password="ngModel" [(ngModel)]="data.old_password" type="password" class="form-control">
                  <div class="errors" *ngIf="old_password.invalid && changePassForm.submitted">
                    <span *ngIf="old_password.errors.required">This field is required.</span>
                  </div>
                </div>
                <div class="form-group">
                  <label for="">New Password</label>
                  <input required name="password" #password="ngModel" [(ngModel)]="data.password" type="password" class="form-control">
                  <div class="errors" *ngIf="password.invalid && changePassForm.submitted">
                    <span *ngIf="password.errors.required">This field is required.</span>
                  </div>
                </div>
                <div class="form-group">
                  <label for="">Confirm Password</label>
                  <input required name="confirm_password" #confirm_password="ngModel" [(ngModel)]="data.confirm_password" type="password" class="form-control">
                  <div class="errors" *ngIf="confirm_password.invalid">
                    <span *ngIf="changePassForm.submitted && confirm_password.errors.required">This field is required.</span>
                  </div>
                  <div class="errors">
                    <span *ngIf="changePassForm.submitted && data.password != '' && data.confirm_password !='' && data.password != data.confirm_password">Password
                      does not match.</span>
                  </div>
                </div>
                <div class="form-group">
                  <button class="btn btn-primary" type="submit">Save</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
